.style1
{
	font-family: .Helvetica Neue DeskInterface;
	font-size: 12;
}
.style2
{
	font-family: .Helvetica Neue DeskInterface;
	font-size: 12;
}
.style3
{
	font-family: .Helvetica Neue DeskInterface;
	font-size: 12;
}
.style4
{
	font-family: .Helvetica Neue DeskInterface;
	font-size: 12;
}
.style5
{
	font-family: .Helvetica Neue DeskInterface;
	font-size: 12;
	font-weight: bold;
}
