.style1
{
	color: #000000FF;
	font-family: Futura;
	font-size: 18;
	font-weight: bold;
}
.style10
{
	color: #000000FF;
	font-family: Arial;
	font-size: 13;
}
.style2
{
	color: #000000FF;
	font-family: Courier;
	font-size: 12;
}
.style3
{
	color: #000000FF;
	font-family: Courier;
	font-size: 12;
	font-style: italic;
}
.style4
{
	color: #000000FF;
	font-family: Courier;
	font-size: 12;
}
.style5
{
	color: #000000FF;
	font-family: Courier;
	font-size: 12;
	font-style: italic;
}
.style6
{
	color: #000000FF;
	font-family: Arial;
	font-size: 13;
}
.style7
{
	color: #000000FF;
	font-family: Arial;
	font-size: 13;
	font-style: italic;
}
.style8
{
	color: #000000FF;
	font-family: Arial;
	font-size: 13;
}
.style9
{
	color: #000000FF;
	font-family: Arial;
	font-size: 13;
	font-style: italic;
}
