.style1
{
	font-family: Futura;
	font-size: 18;
	font-weight: bold;
}
.style10
{
	font-family: Courier;
	font-size: 12;
}
.style11
{
	font-family: Arial;
	font-size: 13;
}
.style12
{
	font-family: Courier;
	font-size: 12;
}
.style13
{
	font-family: Arial;
	font-size: 13;
}
.style14
{
	font-family: Courier;
	font-size: 12;
}
.style15
{
	font-family: Arial;
	font-size: 13;
}
.style16
{
	font-family: Courier;
	font-size: 12;
}
.style17
{
	font-family: Arial;
	font-size: 13;
}
.style18
{
	font-family: Courier;
	font-size: 12;
}
.style19
{
	font-family: Arial;
	font-size: 13;
}
.style2
{
	font-family: Courier;
	font-size: 12;
}
.style3
{
	font-family: Arial;
	font-size: 13;
}
.style4
{
	font-family: Arial;
	font-size: 13;
	font-style: italic;
}
.style5
{
	font-family: Arial;
	font-size: 13;
}
.style6
{
	font-family: Arial;
	font-size: 13;
	font-style: italic;
}
.style7
{
	font-family: Arial;
	font-size: 13;
}
.style8
{
	font-family: Courier;
	font-size: 12;
}
.style9
{
	font-family: Arial;
	font-size: 13;
}
