.style1
{
	font-family: Futura;
	font-size: 18;
	font-weight: bold;
}
.style10
{
	font-family: Arial;
	font-size: 13;
}
.style11
{
	font-family: Arial;
	font-size: 13;
	font-style: italic;
}
.style12
{
	font-family: Arial;
	font-size: 13;
}
.style13
{
	font-family: Courier;
	font-size: 13;
}
.style14
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style15
{
	font-family: Courier;
	font-size: 13;
}
.style16
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style17
{
	font-family: Courier;
	font-size: 13;
}
.style18
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style19
{
	font-family: Arial;
	font-size: 13;
	font-style: italic;
}
.style2
{
	font-family: Helvetica;
	font-size: 12;
}
.style20
{
	font-family: Arial;
	font-size: 13;
}
.style21
{
	font-family: Courier;
	font-size: 13;
}
.style22
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style23
{
	font-family: Courier;
	font-size: 13;
}
.style24
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style25
{
	font-family: Courier;
	font-size: 13;
}
.style26
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style27
{
	font-family: Arial;
	font-size: 13;
}
.style28
{
	font-family: Courier;
	font-size: 13;
}
.style29
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style3
{
	font-family: Courier;
	font-size: 12;
}
.style30
{
	font-family: Courier;
	font-size: 13;
}
.style31
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style32
{
	font-family: Courier;
	font-size: 13;
}
.style33
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style34
{
	font-family: Courier;
	font-size: 13;
}
.style35
{
	font-family: Arial;
	font-size: 13;
}
.style36
{
	font-family: Courier;
	font-size: 13;
}
.style37
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style38
{
	font-family: Courier;
	font-size: 13;
}
.style39
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style4
{
	font-family: Courier;
	font-size: 12;
	font-style: italic;
}
.style40
{
	font-family: Courier;
	font-size: 13;
}
.style41
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style42
{
	font-family: Courier;
	font-size: 13;
}
.style43
{
	font-family: Arial;
	font-size: 13;
}
.style44
{
	font-family: Courier;
	font-size: 13;
}
.style45
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style46
{
	font-family: Courier;
	font-size: 13;
}
.style47
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style48
{
	font-family: Courier;
	font-size: 13;
}
.style49
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style5
{
	font-family: Courier;
	font-size: 12;
}
.style50
{
	font-family: Arial;
	font-size: 13;
}
.style51
{
	font-family: Courier;
	font-size: 13;
}
.style52
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style53
{
	font-family: Courier;
	font-size: 13;
}
.style54
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style55
{
	font-family: Courier;
	font-size: 13;
}
.style56
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style57
{
	font-family: Arial;
	font-size: 13;
}
.style58
{
	font-family: Courier;
	font-size: 13;
}
.style59
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style6
{
	font-family: Courier;
	font-size: 12;
	font-style: italic;
}
.style60
{
	font-family: Courier;
	font-size: 13;
}
.style61
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style62
{
	font-family: Courier;
	font-size: 13;
}
.style63
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style64
{
	font-family: Courier;
	font-size: 13;
}
.style65
{
	font-family: Arial;
	font-size: 13;
}
.style66
{
	font-family: Courier;
	font-size: 13;
}
.style67
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style68
{
	font-family: Courier;
	font-size: 13;
}
.style69
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style7
{
	font-family: Helvetica;
	font-size: 12;
}
.style70
{
	font-family: Courier;
	font-size: 13;
}
.style71
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style72
{
	font-family: Courier;
	font-size: 13;
}
.style73
{
	font-family: Arial;
	font-size: 13;
}
.style74
{
	font-family: Courier;
	font-size: 13;
}
.style75
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style76
{
	font-family: Courier;
	font-size: 13;
}
.style77
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style78
{
	font-family: Courier;
	font-size: 13;
}
.style79
{
	font-family: Courier;
	font-size: 13;
	font-style: italic;
}
.style8
{
	font-family: Arial;
	font-size: 13;
}
.style80
{
	font-family: Courier;
	font-size: 13;
}
.style81
{
	font-family: Arial;
	font-size: 13;
}
.style82
{
	font-family: Arial;
	font-size: 13;
	font-weight: bold;
}
.style83
{
	font-family: Arial;
	font-size: 13;
}
.style84
{
	font-family: Courier;
	font-size: 13;
}
.style85
{
	font-family: Arial;
	font-size: 13;
}
.style86
{
	font-family: Arial;
	font-size: 13;
	font-weight: bold;
}
.style87
{
	font-family: Arial;
	font-size: 13;
}
.style88
{
	font-family: Arial;
	font-size: 13;
	font-weight: bold;
}
.style89
{
	font-family: Arial;
	font-size: 13;
}
.style9
{
	font-family: Arial;
	font-size: 13;
	font-style: italic;
}
.style90
{
	font-family: Arial;
	font-size: 13;
	font-weight: bold;
}
.style91
{
	font-family: Arial;
	font-size: 13;
}
.style92
{
	font-family: Arial;
	font-size: 13;
	font-weight: bold;
}
.style93
{
	font-family: Arial;
	font-size: 13;
}
.style94
{
	font-family: Arial;
	font-size: 13;
	font-weight: bold;
}
.style95
{
	font-family: Arial;
	font-size: 13;
}
.style96
{
	font-family: Arial;
	font-size: 13;
	font-weight: bold;
}
.style97
{
	font-family: Arial;
	font-size: 13;
}
.style98
{
	font-family: .AppleSystemUIFont;
	font-size: 12;
}
.style99
{
}
