.style1
{
	font-family: Futura;
	font-size: 36;
	font-weight: bold;
}
.style2
{
	color: #FF0000FF;
	font-family: Futura;
	font-size: 36;
	font-weight: bold;
}
.style3
{
	font-family: Futura;
	font-size: 36;
	font-weight: bold;
}
.style4
{
	color: #008040FF;
	font-family: Futura;
	font-size: 36;
	font-weight: bold;
}
.style5
{
	font-family: Futura;
	font-size: 36;
	font-weight: bold;
}
